@charset "UTF-8";
body, dl, dd {
  margin: 0;
  padding: 0; }

a {
  text-decoration: none; }

li {
  list-style: none; }

.footer .footer-t {
  width: 1200px;
  height: 54px;
  margin: 0 auto;
  padding: 20px 0;
  margin-bottom: 14px;
  background: #F5F5F5;
  text-align: center; }
  .footer .footer-t img {
    float: left;
    margin: 0 40px; }

.footer1 {
  height: 94px;
  background: #F5F5F5; }

.footer-1 {
  width: 1200px;
  margin: 0 auto;
  overflow: hidden; }

.foo {
  width: 1200px;
  margin: 0 auto; }

.footer-z {
  overflow: hidden;
  padding-bottom: 30px; }
  .footer-z dl {
    color: #999;
    width: 275px;
    float: left; }
    .footer-z dl dt {
      padding: 6px 0; }
    .footer-z dl dd {
      font-size: 12px; }
      .footer-z dl dd a {
        color: #999; }

.footer .footer5 {
  width: 100px; }

.footer-link {
  width: 1200px;
  padding: 20px 0 30px;
  border-top: 1px solid #E5E5E5; }
  .footer-link .fo1 {
    width: 1200px;
    text-align: center;
    color: #999; }
    .footer-link .fo1 a {
      color: #999;
      margin: 0 10px;
      font-size: 13px; }
  .footer-link .fo2 {
    text-align: center;
    font-size: 13px;
    color: #999; }
  .footer-link .fo3 {
    text-align: center; }

/*尾部*/
